.card [data-background-color="black"] {
  background-color: black; }

.cortexabyte-logo {
    max-height: 120px;
    margin-bottom: 20px;
}

.cortexabyte-text-logo {
    max-height: 100px;
    margin-bottom: 20px;
}

div.video-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
div.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
