{{ define "title" }}

<div class="container">
    <div class="content-center brand">
      <div>
        <img class="cortexabyte-logo" src="../img/icon-transparent_400x400.png" alt="">
      </div>
      <div>
        <img class="cortexabyte-text-logo" src="../img/logo-text-transparent_450x100.png" alt="">
      </div>
      <a href="https://twitter.com/cortexabyte" class="btn btn-primary btn-icon btn-round"> <i class="fa fa-twitter"></i></a>
      <!--
      <a href="link" class="btn btn-primary btn-icon btn-round"><i class="fa fa-facebook-square"></i></a>
      <a href="link" class="btn btn-primary btn-icon btn-round"> <i class="fa fa-google-plus"></i></a>
      -->
      <br><a href="https://www.amazon.com/Moriartys-Machinations/dp/B00R54ESUM"><font color="white"><u>Buy Moriarty's Machinations on Amazon!</u></font></a>
    </div>
</div>
{{ end }}

{{ define "body" }}
<a href="devlog"><center>Checkout the <u>DevLog</u></center></a>
{{ end }}
